@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("/fonts/ManropeExtraBold.woff2") format("woff2"),
    url("/fonts/ManropeExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

:root {
  --ff-primary: "Manrope";
  --ff-default: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --clr-neutral-100: 217 19% 38%;
  --clr-neutral-200: 217 19% 24%;
  --clr-neutral-300: 218 23% 16%;
}
body {
  font-family: var(--ff-primary), var(--ff-default);
  background-color: hsl(var(--clr-neutral-300));

  min-height: 100svh;
}

#root {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
